{{define "List"}}
<title>Books for Kids Aged {{.Age}}</title>
	<h1>{{.Cat}} book titles for kids aged {{.Age}}, organized by author</h1>
	{{range $creator, $titles := .Titles}}
		{{if $titles.Wrote}}
		<h2>{{$creator}}</h2>
			<ul>{{range $titles.Wrote}}
				<li><a href="https://www.google.com/search?lr=lang_en&tbo=p&tbm=bks&q=intitle:%22{{.}}%22+inauthor:%22{{$creator}}%22&tbs=,bkt:b">{{.}}</a></li>
			{{end}}</ul>
		{{end}}
	{{end}}
{{end}}
